<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.lab1024.sa.admin.module.business.inventory.dao.InventoryDao">

    <!--  索引
    ALTER TABLE `t_inventory`
    ADD INDEX `idx_create_time` (`create_time`),
    ADD INDEX `idx_deleted_flag` (`deleted_flag`),
    ADD INDEX `idx_create_time_deleted_flag` (`deleted_flag`, `create_time`);

    唯一索引
    type,order_id
    -->
    <!--    in和out的时候 可以是插入也可以是更新 可能存在多次出入库动作-->




    <insert id="insertOrUpdateIn" parameterType="net.lab1024.sa.admin.module.business.inventory.domain.entity.InventoryEntity">
        INSERT INTO t_inventory (guige, count, danwei, type, status, in_man, in_man_id, in_time, order_id, remark,
        create_time, update_time)
        VALUES
        (#{inventory.guige}, #{inventory.count}, #{inventory.danwei}, #{inventory.type},
        #{inventory.status}, #{inventory.inMan}, #{inventory.inManId}, #{inventory.inTime}, #{inventory.orderId},
        #{inventory.remark}, #{inventory.createTime}, #{inventory.updateTime})
        ON DUPLICATE KEY UPDATE
        status = VALUES(status),
        count = VALUES(count),
        danwei = VALUES(danwei),
        guige = VALUES(guige),
        in_man = VALUES(in_man),
        in_man_id = VALUES(in_man_id),
        in_time = VALUES(in_time),
        remark = VALUES(remark),
        update_time = VALUES(update_time);
    </insert>

    <insert id="insertOrUpdateOut" parameterType="net.lab1024.sa.admin.module.business.inventory.domain.entity.InventoryEntity">
        INSERT INTO t_inventory (guige, count, danwei, type, status, out_man, out_man_id, out_time, order_id, remark,
        create_time, update_time)
        VALUES
        (#{inventory.guige}, #{inventory.count}, #{inventory.danwei}, #{inventory.type},
        #{inventory.status}, #{inventory.outMan}, #{inventory.outManId}, #{inventory.outTime}, #{inventory.orderId},
        #{inventory.remark}, #{inventory.createTime}, #{inventory.updateTime})
        ON DUPLICATE KEY UPDATE
        status = VALUES(status),
        count = VALUES(count),
        danwei = VALUES(danwei),
        guige = VALUES(guige),
        out_man = VALUES(out_man),
        out_man_id = VALUES(out_man_id),
        out_time = VALUES(out_time),
        remark = VALUES(remark),
        update_time = VALUES(update_time);
    </insert>



    <update id="updateIn" parameterType="net.lab1024.sa.admin.module.business.inventory.domain.entity.InventoryEntity">
        UPDATE t_inventory
        SET
            status = #{inventory.status},
            in_man = #{inventory.inMan},
            in_time = #{inventory.inTime},
            in_man_id = #{inventory.inManId},
            update_time = #{inventory.updateTime}
        WHERE
            `type` = #{inventory.type} AND
            `order_id` = #{inventory.orderId}
    </update>

    <update id="updateOut" parameterType="net.lab1024.sa.admin.module.business.inventory.domain.entity.InventoryEntity">
        UPDATE t_inventory
        SET
        status = #{inventory.status},
        out_man = #{inventory.outMan},
        out_time = #{inventory.outTime},
        out_man_id = #{inventory.outManId},
        update_time =  #{inventory.updateTime}
        WHERE
        `type` = #{inventory.type} AND
        `order_id` = #{inventory.orderId}
    </update>

    <select id="querySummaryPage" resultType="net.lab1024.sa.admin.module.business.inventory.domain.vo.InventorySummaryVO">
        SELECT
        `type`,
        `guige`,
        `danwei`,
        SUM(`count`) AS total_count
        FROM
        `t_inventory`
        WHERE

        `deleted_flag` = 0

        <if test="queryForm.type != null">
            and type = #{queryForm.type}
        </if>

        <if test="queryForm.guige != null and queryForm.guige != ''">
            and guige = #{queryForm.guige}
        </if>

        <if test="queryForm.status != null">
            and status = #{queryForm.status}
        </if>

        <!--        <if test="queryForm.startTime != null">-->
        <!--            AND DATE_FORMAT(create_time, '%Y-%m-%d') >= #{queryForm.startTime}-->
        <!--        </if>-->

        <!--        <if test="queryForm.endTime != null">-->
        <!--            AND DATE_FORMAT(create_time, '%Y-%m-%d') &lt;= #{queryForm.endTime}-->
        <!--        </if>-->

        GROUP BY
        `type`,
        `guige`,
        `danwei`

        ORDER BY
        `type`,
        `guige`,
        `danwei`

        LIMIT #{limit} OFFSET #{offset};
    </select>

    <select id="querySummarySize" resultType="java.lang.Integer">
        SELECT
        count(*)
        FROM (

        SELECT
        `type`,
        `guige`,
        `danwei`,
        SUM(`count`) AS total_count
        FROM
        `t_inventory`
        WHERE

        `deleted_flag` = 0

        <if test="queryForm.type != null">
            and type = #{queryForm.type}
        </if>

        <if test="queryForm.guige != null and queryForm.guige != ''">
            and guige = #{queryForm.guige}
        </if>

        <if test="queryForm.status != null">
            and status = #{queryForm.status}
        </if>

        <!--            <if test="queryForm.startTime != null">-->
        <!--                AND DATE_FORMAT(create_time, '%Y-%m-%d') >= #{queryForm.startTime}-->
        <!--            </if>-->

        <!--            <if test="queryForm.endTime != null">-->
        <!--                AND DATE_FORMAT(create_time, '%Y-%m-%d') &lt;= #{queryForm.endTime}-->
        <!--            </if>-->

        GROUP BY
        `type`,
        `guige`,
        `danwei`
        ) AS summary;

    </select>



    <!-- 分页查询 -->
    <select id="queryPage" resultType="net.lab1024.sa.admin.module.business.inventory.domain.entity.InventoryEntity">
        SELECT
        *
        FROM t_inventory
        <where>

            deleted_flag = 0

            <if test="queryForm.guige != null and queryForm.guige != ''">
                and guige = #{queryForm.guige}
            </if>

            <if test="queryForm.type != null">
                and type = #{queryForm.type}
            </if>

            <if test="queryForm.status != null">
                and status = #{queryForm.status}
            </if>

            <if test="queryForm.createTimeBegin != null">
                AND DATE_FORMAT(create_time, '%Y-%m-%d') >= #{queryForm.createTimeBegin}
            </if>

            <if test="queryForm.createTimeEnd != null">
                AND DATE_FORMAT(create_time, '%Y-%m-%d') &lt;= #{queryForm.createTimeEnd}
            </if>

        </where>

        ORDER BY id DESC
        LIMIT #{limit} OFFSET #{offset}
    </select>

    <select id="querySize" resultType="java.lang.Integer">
        SELECT count(*)
        FROM t_inventory
        <where>

            <if test="queryForm.guige != null and queryForm.guige != ''">
                and guige = #{queryForm.guige}
            </if>

            <if test="queryForm.type != null">
                and type = #{queryForm.type}
            </if>

            <if test="queryForm.status != null">
                and status = #{queryForm.status}
            </if>

            <if test="queryForm.createTimeBegin != null">
                AND DATE_FORMAT(create_time, '%Y-%m-%d') >= #{queryForm.createTimeBegin}
            </if>

            <if test="queryForm.createTimeEnd != null">
                AND DATE_FORMAT(create_time, '%Y-%m-%d') &lt;= #{queryForm.createTimeEnd}
            </if>

        </where>
    </select>


    <select id="queryByTypeAndOrderId" resultType="net.lab1024.sa.admin.module.business.inventory.domain.entity.InventoryEntity">
        SELECT * FROM t_inventory
        WHERE type = #{type} AND order_id = #{orderId}
    </select>



    <update id="batchUpdateDeleted">
        update t_inventory set deleted_flag = #{deletedFlag}
        where id in
        <foreach collection="idList" open="(" close=")" separator="," item="item">
            #{item}
        </foreach>
    </update>

    <update id="updateDeleted">
        update t_inventory set deleted_flag = #{deletedFlag}
        where id = #{id}
    </update>

    <update id="batchUpdateStatus">
        update t_inventory set status = #{status}
        where id in
        <foreach collection="idList" open="(" close=")" separator="," item="item">
            #{item}
        </foreach>
    </update>
</mapper>