<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.lab1024.sa.admin.module.business.order.sales.dao.OrderSalesDao">
    <resultMap id="BaseResultMap" type="net.lab1024.sa.admin.module.business.order.sales.domain.entity.OrderSalesEntity">
        <id column="trace" jdbcType="VARCHAR" property="trace" typeHandler="net.lab1024.sa.admin.module.business.order.dao.TraceTypeHandler"/>
        <id column="guiges" jdbcType="VARCHAR" property="guiges" typeHandler="net.lab1024.sa.admin.module.business.order.dao.OrderGuigeTypeHandler"/>

    </resultMap>

    <!-- 查看订单 -->
    <select id="selectOne" resultMap="BaseResultMap">
        SELECT * FROM t_order_sales
        <where>
            <if test="orderId != null">
                AND order_id = #{orderId}
            </if>

            <if test="deletedFlag != null">
                AND deleted_flag = #{deletedFlag}
            </if>
        </where>
        LIMIT 1
    </select>

    <select id="queryByWaveIds" resultMap="BaseResultMap">
        SELECT *
        FROM t_order_sales
        WHERE wave_id IN
        <foreach item="waveId" collection="waveIds" open="(" separator="," close=")">
            #{waveId}
        </foreach>
    </select>


    <select id="queryByWaveId" resultMap="BaseResultMap">
        SELECT * FROM t_order_sales
        where wave_id = #{waveId}
    </select>
    <!-- 分页查询 -->
    <select id="queryPage" resultMap="BaseResultMap">
        SELECT
        *
        FROM t_order_sales
        <where>

            <if test="queryForm.address != null and queryForm.address != ''">
                and address like concat('%',#{queryForm.address},'%')
            </if>

            <if test="queryForm.guige != null and queryForm.guige != ''">
                and guiges like concat('%',#{queryForm.guige},'%')
            </if>

<!--            <if test="queryForm.addressId != null">-->
<!--                and address_id = #{queryForm.addressId}-->
<!--            </if>-->
<!--            <if test="queryForm.detail != null">-->
<!--                and detail = #{queryForm.detail}-->
<!--            </if>-->
<!--            <if test="queryForm.curStatus != null">-->
<!--                and cur_status = #{queryForm.curStatus}-->
<!--            </if>-->
<!--            <if test="queryForm.curOperator != null">-->
<!--                and cur_operator = #{queryForm.curOperator}-->
<!--            </if>-->

<!--            <if test="queryForm.waveId != null">-->
<!--                and wave_id = #{queryForm.waveId}-->
<!--            </if>-->

            <if test="queryForm.createTimeBegin != null">
                AND DATE_FORMAT(create_time, '%Y-%m-%d') >= #{queryForm.createTimeBegin}
            </if>

            <if test="queryForm.createTimeEnd != null">
                AND DATE_FORMAT(create_time, '%Y-%m-%d') &lt;= #{queryForm.createTimeEnd}
            </if>

        </where>

        ORDER BY create_time DESC
        LIMIT #{limit} OFFSET #{offset}
    </select>

    <select id="querySize" resultType="java.lang.Integer">
        SELECT count(*)
        FROM t_order_sales
        <where>

            <if test="queryForm.address != null and queryForm.address != ''">
                and address like concat('%',#{queryForm.address},'%')
            </if>

            <if test="queryForm.guige != null and queryForm.guige != ''">
                and guiges like concat('%',#{queryForm.guige},'%')
            </if>

            <if test="queryForm.createTimeBegin != null">
                AND DATE_FORMAT(create_time, '%Y-%m-%d') >= #{queryForm.createTimeBegin}
            </if>

            <if test="queryForm.createTimeEnd != null">
                AND DATE_FORMAT(create_time, '%Y-%m-%d') &lt;= #{queryForm.createTimeEnd}
            </if>
<!--            <if test="queryForm.addressId != null">-->
<!--                and address_id = #{queryForm.addressId}-->
<!--            </if>-->
<!--            <if test="queryForm.detail != null">-->
<!--                and detail = #{queryForm.detail}-->
<!--            </if>-->
        </where>
    </select>



    <update id="batchUpdateDeleted">
        update t_order_sales set deleted_flag = #{deletedFlag}
        where id in
        <foreach collection="idList" open="(" close=")" separator="," item="item">
            #{item}
        </foreach>
    </update>

    <update id="updateScanInfo" parameterType="map">
        UPDATE t_order_sales
        SET
        cur_status = #{curStatus},
        cur_operator = #{curOperator},
        cur_operator_id = #{curOperatorId},
        trace = #{trace,jdbcType=VARCHAR,typeHandler=net.lab1024.sa.admin.module.business.order.dao.TraceTypeHandler},
        cur_time = #{curTime}
        <if test="waveId != null">
            , wave_id = #{waveId}
        </if>
        WHERE
        id = #{id}
    </update>

    <update id="updateWaveId" parameterType="map">
        UPDATE t_order_sales
        SET
        wave_id = #{waveId}
        WHERE
        id = #{id}
    </update>



    <update id="updateDeleted">
        update t_order_sales set deleted_flag = #{deletedFlag}
        where id = #{id}
    </update>
</mapper>