<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.lab1024.sa.admin.module.business.order.dao.OrderSalesDao">

    <!-- 分页查询 -->
    <select id="queryPage" resultType="net.lab1024.sa.admin.module.business.order.domain.vo.OrderSalesVO">
        SELECT
        *
        FROM t_order_sales
    </select>



    <update id="batchUpdateDeleted">
        update t_order_sales set deleted_flag = #{deletedFlag}
        where id in
        <foreach collection="idList" open="(" close=")" separator="," item="item">
            #{item}
        </foreach>
    </update>

    <update id="updateDeleted">
        update t_order_sales set deleted_flag = #{deletedFlag}
        where id = #{id}
    </update>
</mapper>